{
  "extends": "airbnb-base",
  "rules": {
    "leadingUnderscore": "off",
    "no-console": "off",
    "comma-dangle": "off",
    "no-underscore-dangle": "off",
    "linebreak-style": [
      "error",
      "unix"
    ]
  }
}
